.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #484747;
    border-radius: 2px;
    color: #DC5F00;
}



header{
    background-color: #000000;
    margin-top: 0;
    border-radius: 5px;
}

h1{
    font-size: 60px;
    color: #DC5F00;
}
h2 {
    color: #DC5F00;
}

.header{

    margin: 10px;
}

body{
    background-color: #151515;
}

footer {
    background-color: #000000;
    height: 100px;

}
