.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
    margin-top: 50px;
    font-family: Arial, serif;
}

h3 {
    font-size: 24px;
    color: #484747;
}


.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #484747;
    border-radius: 2px;
    color: #DC5F00;
}



header{
    background-color: #000000;
    margin-top: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 60px;
    color: #DC5F00;
    font-family: Arial, serif;
}
p {
    color: white;
}
.footer{
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.header{
    max-width: fit-content;
}

body{
    background-color: #151515;
}

footer {
    background-color: #000000;
}

img {
    height: 70px;
}
.insta{
    margin-top: 20px;
}

.logo {
    height: 100px;
    margin-top: 10px;
    justify-content: center;
}
